{% extends "base.html" %}

{% block gameblock %}
<!-- newgame -->
<div class="gameblock">
  <h1>Editor's Choice Of New Free Online Games (<a href="#">submit Your Game Here</a>)</h1>          
  <a class="game" href="/gameplay?id=2001">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>游戏名称</span> 
  </a>
  <a class="game" href="/gameplay?id=1">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One One One One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" /> 
    <span>Game One</span> 
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" /> 
    <span>Game Two</span> 
  </a>
  <div class="more">
    <a href="#">See all new game submissions</a>
  </div>
</div>
<!-- /newgame -->
<!-- hotgame -->
<div class="gameblock">
  <h1>Most Played Free Online Games (updated Hourly)</h1>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" />
    <span>Game One</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <div class="more">
    <a href="#">Full list of most played games</a>
  </div>
</div>
<!-- /hotgame -->
{% endblock %}