{% extends "base.html" %}

{% block gameblock %}
<!-- tag -->
<div id="tag">
  <h2>
    <a href="/">home</a>
    &gt;&gt; 
    <a href="http://www.freeonlinegames.com/adventure-games/index.html">adventure games</a>
    &gt;&gt; 
    {{ game.name }}
  </h2>
</div>
<!-- /tag -->
<!-- game -->
<div id="game">
<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0" width="{{ game.width }}" height="{{ game.height }}">
  <param name="movie" value="/static/games/{{ game.key }}/game.swf"/> 
  <param name="quality" value="high"/>
  <!--[if !ie]> <-->
  <object data="/static/games/{{ game.key }}/game.swf" width="{{ game.width }}" height="{{ game.height }}" type="application/x-shockwave-flash">
    <param name="quality" value="high"/>
    <param name="pluginurl" value="http://www.adobe.com/go/getflashplayer"/>
    FAIL (the browser should render some flash content, not this).
  </object>
  <!--> <![endif]-->
</object>
</div>
<!-- /game -->
<!-- description -->
<div class="game-description">
  <img class="thumb" src="/static/games/{{ game.key }}/logo.jpg" alt="kuanggong_logo" /> 
  <span class="title"><b>名称:</b> {{ game.name }}</span>
  <span class="plays"><b>点击:</b> 33</span>
  <span class="rating"><b>评分:</b> 6.00</span>
  <div class="description">
    <b>游戏介绍:</b> 
    <p>the days of foriencia changed forever when the dark army of ash arrived taking over the realms! all hope is on the occident warrior to fight his way through 6 different world, learning new skills to defeat the evil lord. the occident warrior is a cute side scrolling battle game with anime/comic style graphics. </p>
    <b>操作说明:</b> 
    <p>· wasd = move <br />· j = attack<br />· k = jump</p>
    <b>链接到本游戏</b> 
    <p><input style="width: 500px" onclick="select()" value="http://www.freeonlinegames.com/embed.php?g_id=16461" /></p>
    <b>链接到本页面</b> 
    <p><input style="width: 500px" onclick="select()" value="http://www.freeonlinegames.com/adventure-games/occident-warrior.html" /></p>
  </div>
  <div class="description-bottom"><!-- bottom --></div>
</div>
<!-- /description -->
<!-- rate -->
<div class="game-review">
  <form action="/gameplay?key={{ game.key }}" method="post">
    <label>请评分：</label>
    <input type="radio" name="gameRate" id="gameRate1" />
    <label for="gameRate1">1分</label>
    <input type="radio" name="gameRate" id="gameRate2" />
    <label for="gameRate2">2分</label>
    <input type="radio" name="gameRate" id="gameRate3" />
    <label for="gameRate3">3分</label>
    <input type="radio" name="gameRate" id="gameRate4" />
    <label for="gameRate4">4分</label>
    <input type="radio" name="gameRate" id="gameRate5" />
    <label for="gameRate5">5分</label>
    <br />
    <textarea name="gameComment" id="gameComment" onfocus="if(this.value=='请输入评论内容...') this.value=''" onblur="if(this.value=='') this.value='请输入评论内容...'">请输入评论内容...</textarea>
    <input type="text" name="commenter" id="commenter"  onfocus="if(this.value=='请输入您的大名...') this.value=''" onblur="if(this.value=='') this.value='请输入您的大名...'" value="请输入您的大名..."/>
    <input type="submit" value="提交">
  </form>



  <!--img class="avatar" src="/static/images/default.gif" alt="default" /> 
  <div class="userinfo">
    <b>joined:</b> may 2009<br />
    <b>from:</b> not specified<br />
    <b>posts:</b> 3<br />
    <b>friends:</b> 0<br />
  </div>
  <span class="author"><b>reviewed by:</b> ourdead9</span>
  <span class="time">10th may 2009 - 12:16 am</span> 
  <p>how do u play the game you made its immpossible i cant play my game or test it or cosumize it<br /><br />game play:5 graphics:5 replayability:5 concept:5</p-->
</div>
<br />
<!-- /rate -->
<!-- comment -->
<div class="game-review odd-review">
  <img class="avatar" src="/static/images/default.gif" alt="default" /> 
  <div class="userinfo">
    <b>joined:</b> may 2009<br />
    <b>from:</b> not specified<br />
    <b>posts:</b> 3<br />
    <b>friends:</b> 0<br />
  </div>
  <span class="author"><b>reviewed by:</b> ourdead9</span>
  <span class="time">10th may 2009 - 12:16 am</span> 
  <p>how do u play the game you made its immpossible i cant play my game or test it or cosumize it<br /><br />game play:5 graphics:5 replayability:5 concept:5</p>
</div>
<div class="game-review even-review">
  <img class="avatar" src="/static/images/default.gif" alt="default" /> 
  <div class="userinfo">
    <b>joined:</b> may 2009<br />
    <b>from:</b> not specified<br />
    <b>posts:</b> 3<br />
    <b>friends:</b> 0<br />
  </div>
  <span class="author"><b>reviewed by:</b> ourdead9</span>
  <span class="time">10th may 2009 - 12:16 am</span> 
  <p>how do u play the game you made its immpossible i cant play my game or test it or cosumize it<br /><br />game play:5 graphics:5 replayability:5 concept:5</p>
</div>      
<!-- /comment -->
{% endblock %}