{% extends "base.html" %}

{% block gameblock %}
<!-- newgame -->
<div class="gameblock">
  <h1>Editor's Choice Of New Free Online Games</h1>
  {% for game in game_list %}
  <a class="game" href="/gameplay?key={{ game.key }}">
    <img src="/static/games/{{ game.key }}/logo.jpg" alt="{{ game.name }}" /> 
    <span>{{ game.name }}</span> 
  </a>
  {% endfor %}
  <div class="more">
    <a href="#">See all new game submissions</a>
  </div>
</div>
<!-- /newgame -->
<!-- hotgame -->
<div class="gameblock">
  <h1>Most Played Free Online Games</h1>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/1/1.jpg" alt="game" />
    <span>Game One</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <a class="game" href="#">
    <img src="/static/games/2/2.jpg" alt="game" />
    <span>Game Two</span>
  </a>
  <div class="more">
    <a href="#">Full list of most played games</a>
  </div>
</div>
<!-- /hotgame -->
{% endblock %}