html, body {
	padding: 0; margin: 0; font-size: 14px; font-family: arial;
}
html {
	background: url(/static/images/bg.png) #fff; color: #552;
}

img {
	border: 0px; padding: 0; margin: 0;
}

table {
	background: #fff;
}

a {
	color: #785
}
a:hover {
	color: #530
}

.link_login {
	font-size: 0.8em;
}
.link_login a {
	text-decoration: none; margin: 0;
}

.nav td{
	background: url(/static/images/nav.png); text-align: center; font: bold 1.2em Georgia, serif;
}

.nav td a {
	color: #552; text-decoration: none;  display: block; background: url(/static/images/nav.png); padding: 5px;
}
.nav td a:hover {
	color: #530; text-decoration: underline; background: url(/static/images/nav2.png);
}

#login {
	background: transparent; font-size: 1.2em;
}

#gamesearch {
	background: #cda;
}
#gamesearch form {
	margin: auto; text-align:center; padding: 2px;
}
#gamesearch .input-text {
	border: black 1px solid; width: 247px;
}
#gamesearch .input-submit {
	border: black 1px solid; width: 38px;
}

.gameblock {
	padding: 0; margin: 0 auto; width: 667px;
}
.gameblock h1 {
	border: #999 1px solid; padding: 2px 4px; margin: 2px; font-size: 1em; background: #cda;
}
.gameblock h1 a {
	color: #f90; text-decoration: none;
}
.gameblock h1 a:hover {
	color: #530;
}
.gameblock a.game {
	padding: 2px; display: block; background: #cda; float: left; margin: 2px 3px; overflow: hidden; width: 73px; color: #552; position: relative; height: 92px; text-decoration: none;
}
.gameblock a.game:hover {
	background: #aa0;
}
.gameblock a.game:hover span {
	background: #aa0;
}
.gameblock a.game span {
	display: block; font-size: 0.8em; background: #cda; left: 2px; width: 73px; bottom: 2px; position: absolute; text-align: center;
}
.gameblock div.more {
	clear: both; padding-right: 2px; font-weight: bold; text-align: right; text-decoration: none;
}

#index {
	background: url(/static/images/side-bg.png); 
}

ul.cloud {
	padding: 0; font-size: 1em; margin: 10px 0; width: 300px; list-style-type: none; text-align: justify;
}
ul.cloud li {
	float: left; padding: 0; margin: 0; width: 50%;
}
ul.cloud a {
	text-decoration: none; padding: 0 4px
}
ul.cloud a:hover {
	text-decoration: underline;
}

#footer {
	font-size: 0.8em; background: #cc9; 
}
#footer a {
	text-decoration: none;
}

#tag h2 {
	font-size: 1.2em; margin: 0px 0px 4px 0px;
}
#tag p {
	text-align: center; font-size: 1em; margin: 10px 0px;
}
#tag a {
	text-decoration: none;
}

#game {
	text-align: center;
}

.game-description {
	background: url(/static/images/bg_game_description.png); padding: 0; margin: 15px auto; width: 663px; font-family: arial; position: relative;
}
.game-description span {
	display: block; font-size: 12px; line-height: 10px; position: absolute; height: 10px;
}
.game-description b {
	color: #000;
}
.game-description .thumb {
	border: #000 1px solid; left: 8px; width: 73px; top: 28px; height: 80px; position: absolute;
}
.game-description span.title {
	font-weight: bold; left: 101px; top: 18px;
}
.game-description span.plays {
	left: 101px; top: 32px;
}
.game-description span.rating {
	left: 425px; top: 18px;
}
.game-description span.author {
	font-weight: bold; left: 425px; top: 32px;
}
.game-description div.description {
	padding-left: 101px; font-size: 12px; padding-top: 62px;
}
.game-description p {
	margin: 0px 30px 12px 0px;
}

.description-bottom {
	background: url(/static/images/bg_game_description_bottom.png); height: 15px;
}

.game-review {
	padding: 0; background: url(/images/bg_game_description.png) #fff; margin: 5px auto; width: 663px; height: 166px; font-family: arial; position: relative;
}
.game-review span {
	display: block; font-size: 12px; line-height: 10px; position: absolute; height: 10px
}
.game-review span b {
	color: #000
}
.game-review .avatar {
	border: #fff 1px solid; left: 8px; width: 60px; top: 8px; height: 60px; position: absolute;
}
.game-review .userinfo {
	font-size: 11px; left: 8px; color: #000; position: absolute; top: 75px;
}
.game-review span.author {
	font-weight: bold; left: 159px; top: 18px;
}
.game-review span.time {
	right: 17px; top: 18px;
}
.game-review p {
	padding: 0; margin: 0; font-size: 12px; left: 159px; overflow: auto; width: 487px; top: 46px; height: 105px; position: absolute;
}
.odd-review {
	background: url(/static/images/bg_game_review_1.png) #fff
}
.even-review {
	background: url(/static/images/bg_game_review_2.png) #fff
}